<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Gestión de Datos</title>
</head>
<body>
    <div id="app">
      <h1>Gestión de Datos</h1>
      <div>
        <label>Nombre</label>
        <input type="text" v-model="persona.nombre">
      </div>
      <div>
        <label>Apellido</label>
        <input type="text" v-model="persona.apellido">
      </div>
      <div>
        <label>Edad</label>
        <input type="number" v-model="persona.edad" min="0">
      </div>
     
      <button :disabled="!camposValidos" @click="edicion ? actualizar() : guardar()" 
              :class="edicion ? 'edit-btn' : 'save-btn'">
        <i :class="edicion ? 'fas fa-edit' : 'fas fa-save'"></i> {{ edicion ? 'EDITAR' : 'GUARDAR' }}
      </button>
      <button v-if="personas.length" @click="limpiarLista()" class="clear-btn">
        <i class="fas fa-trash"></i> Limpiar Todo
      </button>

      <table v-if="personas.length">
       <thead>
         <tr>
           <th @click="ordenar('nombre')">NOMBRE</th>
           <th @click="ordenar('apellido')">APELLIDO</th>
           <th @click="ordenar('edad')">EDAD</th>
           <th>ACCIÓN</th>
         </tr>
       </thead>
       <tbody>
         <tr v-for="(data, index) in personas" :key="index">
            <td>{{ data.nombre }}</td>
            <td>{{ data.apellido }}</td>
            <td>{{ data.edad }}</td>
            <td>
              <button class="delete-btn" @click="borrar(index)"><i class="fas fa-trash"></i></button>
              <button class="edit-btn" @click="cargarDatos(index)"><i class="fas fa-edit"></i></button>
            </td>
         </tr>
       </tbody>
     </table>
    </div>
    
    <script src="codigo.js"></script>
</body>
</html>
